/* .img-header {
	color: #0078d4;
}

.img-paragraph {
	font-size: 20px;
	line-height: 2;
}

.paragraph-sub-header {
	font-size: 20px;
	font-weight: bold;
}

.bold-text {
	font-weight: bold;
}

.footer-wrapper {
	width: 100%;
	height: auto;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-header {
	color: #000;
	text-align: center;
	padding-top: 10rem;
	font-weight: bolder;
}

.footer-paragraph {
	width: 30rem;
	text-align: center;
	line-height: 2;
}
 */
