html(lang="en")
    head
        include ../shared/head-calls
        title Home
    body
        include ../template/layouts/navbar
        //- <video width="320" height="240" controls>
        //- <source src="../assets/videos/smart-city.mov" type="video/mp4">
        //- <source src="../assets/videos/smart-city.mp4" type="video/mp4">
        //- <source src="../assets/videos/smart-city.ogg" type="video/ogg">
        //- | Your browser does not support the video tag.
        //- </video>


        .container
            //- row #1
            .row.mt-5
                .col-md-6
                    img.img-fluid(src="../assets/images/home-img-1.jpg")
                .col-md-6
                    h2.img-header About Us
                    p.img-paragraph
                        | Egypt Parking is a sister company of Misr Trade & Investment (MTI)
                        | represents a group of organizations with diversified fields of operations,
                        | working under the supervision of a highly experienced and reputed management.
                        | The diversification of this group is the consequence of the visionary leadership and
                        | their determination to progress.


            //- row #2
            .row.mt-5
                .col-md-6
                    h2.img-header Our Services
                    p.paragraph-sub-header.pt-3 For Government
                    p.img-paragraph
                        | Develop a Project Strategy Plan For the entire country with a
                        | flexible module can suit the Cities, district, Sectors, Etc…
                    p.paragraph-sub-header.pt-3 For Private Sector
                    p.img-paragraph
                        | Due to implementing government parking enforcement, the private
                        | parking business will be booming in this countries, we support the private sector by
                        | developing the private parking management system and its equipment’s
                        | (Hardware, Software, customer, customer services and training).
                .col-md-6
                    img.img-fluid(src="../assets/images/home-img-2.jpg")


            //- row #3
            .row.mt-5
                .col-md-6
                    img.img-fluid(src="../assets/images/home-img-3.jpg")
                .col-md-6
                    h2.img-header Our Products
                    p.img-paragraph
                        span.bold-text  Pay and display 
                        span , (PPM) Public Parking Meter can withstand virtually
                            | environment and are fully customizable. Learn more about our latest advancements in parking
                            | technology.
                    p.img-paragraph
                        span.bold-text  Personal Parking (PPM) 
                        span Meter With this unique device, driver can park anywhere anytime.
                    p.img-paragraph
                        span.bold-text  Private Sector 
                        span (PS) Private Sector, Parking Management is an innovative solution for parking management using ticketless barriers and Automatic Number Plate Recognition (ANPR).
                    p.img-paragraph
                        | E-Pay Smart City of Egypt adhere to the highest Private Sector 
                        span.bold-text   PCI 
                        span (Payment Card Industry) standards.

            .row.mt-5
                .col-md-6
                    h2.img-header Smart Cities
                    p.img-paragraph
                        | You can always ask our consultants and expert matters regarding
                        | our new innovations, as we have different types of electronic methods and sensors to
                        | collect data. Insights gained from that data are used to manage assets, resources and
                        | services efficiently; in return, that data is used to improve the operations across the
                        | city.
                    p.img-paragraph.mt-2
                        | Ask us about the Lidar technology IOT technology & much more
                .col-md-6
                    img.img-fluid(src="../assets/images/home-img-4.jpg")


                //- footer
                .footer-wrapper.mt-5.pb-5
                    h1.footer-header
                        | We study - Plan - Execute - Audit- Improve
                    p.footer-paragraph
                        | We are engraving our foot print by supporting ”Smart Cities”, the urban center of the
                        | future, made safe, secure environmentally green, and efficient because all structures–whether
                        | for power, water, transportation, etc.













        include ../shared/footer-calls