html(lang="en")
   head
      include ../shared/head-calls
      title  Egypt Parking | Products
   body
      include ../template/layouts/navbar

      .banar
         img(src="../assets/images/our-product-hero-img2.jpeg")

         h1.mt-4.text-center products
      .page-title
         .container
            .content-container
               h4.mt-5.text-center On / Off Road Hardware "Parking Machines" 
               hr
               p Pay and display , (PPM) Public Parking Meter can withstand virtually any environment and are fully customizable.  Learn more about our latest advancements in parking technology. 
      .products-page
         .row
            .col-md-6
               img(src="../assets/images/our-product-hero-img2.jpeg")
            .col-md-6
               div.products-block
                  div
                     h2 Pay & display
                     hr
                     p  (PPM) Public Parking Meter can withstand virtually any environment and are fully customizable.  Learn more about our latest advancements in parking technology.

                     button.btn.read-more.btn-lg find out more
         .row
            .col-md-6
               div.products-block.gr
                  div
                     h2 Personal Parking (PPM)
                     hr
                     p Meter With this unique device, driver can park anywhere anytime.

                     button.btn.read-more.btn-lg find out more
            .col-md-6
               img(src="../assets/images/parking machine small.png")
         .row
            .col-md-6
               img(src="../assets/images/ticet.png")
            .col-md-6
               div.products-block.gr
                  div
                     h2 Private Sector
                     hr
                     p  (PS) Private Sector, Parking Management is an innovative solution for parking management using ticketless barriers and Automatic Number Plate Recognition (ANPR).  Simple and user-friendly, (Private Sector )Egypt Parking improves the fluidity of traffic flow with limited investment. 
                     button.btn.read-more.btn-lg find out more
                  .row
            .col-md-6
               div.products-block
                  div
                     h2 Payment Card Industry
                     hr
                     p  E-Pay Smart City of Egypt adhere to the highest PCI (Payment Card Industry) standards. We offer an easy-to-use payment service, adapted to meet all businesses and security requirements.  Reduce your operational costs by learning more about our card payment services. 
                     button.btn.read-more.btn-lg find out more
            .col-md-6
               img(src="../assets/images/our-products-img-4.jpg")



            //- .col-md-6
            //-    div.products-block
            //-       img(src="../assets/images/our-products-img-2.png")
            //- .col-md-6
            //-    div.products-block
            //-       #accordionExample.accordion
            //-          .accordion-item
            //-             h2#headingOne.accordion-header
            //-                button.accordion-button.flex-wrap(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
            //-                   | Personal Parking (PPM) 
            //-                   br/
            //-                   span.text-muted.mt-2 Meter With this unique device, driver can park anywhere anytime.
            //-             #collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
            //-                .accordion-body
            //-                   ul
            //-                      li Simple Parking deployment 
            //-                      li IOT and Automated Parking Management  
            //-                      li Easy enforcement  
            //-                      li Efficient operation  
            //-                      li No loss of revenue Personal Parking Meter With this unique device, driver can park anywhere anytime.
            //-          .accordion-item
            //-             h2#headingOne.accordion-header
            //-                button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseOne')
            //-                   | Driver benefits: 
            //-             #collapseTwo.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
            //-                .accordion-body
            //-                   ul 
            //-                      li Selecting the parking duration and direct pay from the device   
            //-                      li Controlling the device from the mobile app  
            //-                      li Scheduling the daily parking payment as per usage  
            //-                      li Knowing the available parking lot to save time 
            //-                      li No parking fines
            //-          .accordion-item
            //-             h2#headingOne.accordion-header
            //-                button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='true' aria-controls='collapseOne')
            //-                   | Government benefits: 
            //-             #collapseThree.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
            //-                .accordion-body
            //-                   ul 
            //-                      li Simple Parking deployment  .
            //-                      li IOT and Automated Parking Management  .
            //-                      li Easy enforcement .
            //-                      li Efficient operation .
            //-                      li More cost saving  .
            //-                      li More road data collection for more better road management  .
            //-                      li No loss of revenue . 
            //-          .accordion-item
            //-             h2#headingOne.accordion-header
            //-                button.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='true' aria-controls='collapseOne')
            //-                   | Society benefits: 

            //-             #collapseFour.accordion-collapse.collapse(aria-labelledby='headingOne' data-bs-parent='#accordionExample')
            //-                .accordion-body
            //-                   ul 
            //-                      li More Modernity   .
            //-                      li More environmental focused  .


            //- .col-md-6
            //-    .products-block
            //-       p #[b.text-primary Private Sector] , (PS) Private Sector, Parking Management is an innovative solution for parking management using ticketless barriers and Automatic Number Plate Recognition (ANPR).  Simple and user-friendly, (Private Sector )Egypt Parking improves the fluidity of traffic flow with limited investment.  The cloud-based management system provides the end user information in real time, allowing effective enforcement while facilitating operations and maintenance tasks. 

            //-       ul
            //-          li Ease traffic flow with efficient entry and exit without the need of ticket presentation. 
            //-          li Real-time access to terminal data and alerts.
            //-          li All the information from the cameras is sent to the (PS) servers hosted on customer premises or cloud.  This data is made available and can be viewed using a simple web interface.  This secure portal allows remote real-time monitoring of parking and activity, reducing the required operating time. It also allows remote control of parking rights and parking permit administration.  
            //- .col-md-6
            //-    div.products-block
            //-       img(src="../assets/images/our-products-img-3.png")

            //- .col-md-6
            //-    div.products-block
            //-       img(src="../assets/images/our-products-img-4.jpg")
            //- .col-md-6
            //-    .products-block
            //-       p E-Pay Smart City of Egypt adhere to the highest PCI (Payment Card Industry) standards.  
            //-       p We offer an easy-to-use payment service, adapted to meet all businesses and security requirements.  Reduce your operational costs by learning more about our card payment services.  










         include ../shared/footer-calls