html(lang="en")
   head
      include ../shared/head-calls
      title  Egypt Parking | Our Products
   body
      include ../template/layouts/navbar

      .banar
         img(src="../assets/images/our-product-hero-img2.jpeg")

         h1.mt-4.text-center our products
      .page-title
         .container
            .content-container
               h4.mt-5.text-center On / Off Road Hardware "Parking Machines" 
               hr
               p Pay and display , (PPM) Public Parking Meter can withstand virtually any environment and are fully customizable.  Learn more about our latest advancements in parking technology. 
      .products-page

         .row
            .col-md-6
               img(src="../assets/images/our-product-hero-img2.jpeg")
            .col-md-6
               div.products-block
                  div
                     h2 Pay & display
                     hr
                     p  (PPM) Public Parking Meter can withstand virtually any environment and are fully customizable.  Learn more about our latest advancements in parking technology.

                     button.btn.read-more.btn-lg find out more
         .row
            .col-md-6
               div.products-block.gr
                  div
                     h2 Personal Parking (PPM)
                     hr
                     p Meter With this unique device, driver can park anywhere anytime.

                     button.btn.read-more.btn-lg find out more
            .col-md-6
               img(src="../assets/images/parking machine small.png")
         .row
            .col-md-6
               img(src="../assets/images/ticet.png")
            .col-md-6
               div.products-block.gr
                  div
                     h2 Private Sector
                     hr
                     p  (PS) Private Sector, Parking Management is an innovative solution for parking management using ticketless barriers and Automatic Number Plate Recognition (ANPR).  Simple and user-friendly, (Private Sector )Egypt Parking improves the fluidity of traffic flow with limited investment. 
                     button.btn.read-more.btn-lg find out more
                  .row
            .col-md-6
               div.products-block
                  div
                     h2 Payment Card Industry
                     hr
                     p  E-Pay Smart City of Egypt adhere to the highest PCI (Payment Card Industry) standards. We offer an easy-to-use payment service, adapted to meet all businesses and security requirements.  Reduce your operational costs by learning more about our card payment services. 
                     button.btn.read-more.btn-lg find out more
            .col-md-6
               img(src="../assets/images/our-products-img-4.jpg")



      footer
         .container
            .row
               .col-md-4
                  div 
                     p Flowbird Smart City UK Limited
                     p Discovery Court Business Centre
                     p 551-553 Wallisdown Road,
                     p Bournemouth
                     p Dorset, BH12 5AG
                     br
                     p © Egypt Parking
               .col-md-4
                  div 
                     p Contact:
                     br
                     p Tel (Service): 0845 1117516
                     p Tel (Sales): 01202 022 850
               .col-md-4
                  div
                     img(src="../assets/images/logo (1).png")






      include ../shared/footer-calls