html(lang="en")
    head
        include ../shared/head-calls
        title  Egypt Parking | Services
    body
        include ../template/layouts/navbar


        .container
            .banar
                img(src="../assets/images/WhatsApp Image 2020-12-08 at 20.53.45.jpeg")

                h2.mt-4.text-center services


            .row.mt-4
                .col-md-6
                    div.service-block
                        h4 1- On Roads Services 
                        ul 
                            li Developing the Traffic Impact Studies 
                            li Developing the Parking Management Studies 
                        h5.ps-2 The Outputs: 
                        ul.ps-5 
                            li.ms-4 Traffic Impact Studies 
                            li.ms-4 Parking Management Studies 
                        h5.ps-2 How we do it?  
                        ul.ps-5 
                            li.ms-4 Comprehensive site survey report by Visiting the roads, Parking lot  .
                            li.ms-4 Re engineering Entrance / Exit in some areas / Road .
                            li.ms-4 Re engineering road movement / one way / two ways .
                            li.ms-4 Marking Parking lots if required.
                            li.ms-4 Numbering Parking lots if required  .
                            li.ms-4 Fixing signs on the sectors (civil work) .
                            li.ms-4 Fixing the PDM, payment machine on the sector . 
                            li.ms-4 implementing the related (Civil work) .
                            li.ms-4 Others.
                .col-md-6
                    div.service-block
                        h4 2- Client, Government services 
                        ul 
                            li Consultancy.
                            li Strategy plan  .
                            li Visibility study  .
                            li Business Plan & KPIS .
                            li Planning  .
                            li Designing.
                            li Implementing the execution plan . 
                            li Operate Monitoring control .
                            li Reporting Strategy methods and techniques systems etc.  
                            li More . 
                .col-md-6
                    div.service-block
                        h4 3- Direct Hiring, we Outsource or train the
                        ul 
                            li Managers	.
                            li Area in charge   .
                            li Accountant .
                            li Supervisor .
                            li Inspector   .
                            li Technical Team IT-Civil -Architect .
                            li Technician .
                            li Admin team .

                    div.service-block
                        h4 4- Subcontracting services 
                        ul 
                            li Managing - Operating 
                            li Training ( Technical business -Behavior) 
                .col-md-6
                    div.service-block
                        img(src="../assets/images/GetImage (5).jpeg")

                //- .col-md-6
                .col-md-6
                    div.service-block.text-center(sltye="margin-top: 0")
                        img(src="../assets/images/GetImage (4).jpeg" style="width: 40%" )
                .col-md-6
                    div.service-block
                        h4 5- People Management  Services 
                        ul 
                            li Managing area in charge KPIs 
                            li Managing supervisors KPIs 
                            li Managing Parking inspectors KPIs 
                            li Managing technicians KPIs 

                    div.service-block
                        h4 6- Other Stakeholders services 
                        ul 
                            li System Integration / Protocols integration with the traffic department, others. 

                    div.service-block
                        h4 7- Equipment maintenance Management services 
                        ul 
                            li On road Pay and display machine maintenance 
                            li Personal Parking meter maintenance 
                            li Handheld maintenance 
                            li Non Electronic Equipment's maintenance 

                .col-md-8
                    div.service-block
                        h4 8- Developing the Branding Management  Plan services 
                        ul 
                            li Developing the branding strategy 
                            li Developing comprehensive branding manual   
                            li Developing the branding execution plan and other related details,   
                            li Developing the business and Sales Plan  
                            li Developing the Call center manuals  
                        h5.ps-2 Executing   
                        ul.ps-5 
                            li.ms-4 Our specialist team Managing the complaint ,Media representative – TV- Newspaper-Radio- social Media .
                            li.ms-4 Determine the Point of Sale for the re-charges cards   .
                            li.ms-4 Repotting and the receiving the defected Devices , Others related services. 
                            li.ms-4 Managing the re-charges card sales with petrol stations .
                            li.ms-4 Executing the online payment with telecom companies (e.g. Vodafone, Etisalat – Fawry etc..) .
                .col-md-4 
                    div.service-block
                        h4 9- Developing the permit plan 
                        ul 
                            li Full time permit – All sector VIP permit Smart sticker 
                            li Residence permit    
                            li Commercial permit 
                            li Handicap permit 
                            li Other Permit  











        include ../shared/footer-calls