@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap");
.section_Dimentions {
  padding: 70px 0 40px 0;
}

.inner_container {
  padding: 0 20px;
}

.section_Title {
  font-size: 2em;
  display: inline-block;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #002651;
}

.section_Title::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #28c7fa;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.text-primary {
  color: #0078d4;
}

.dropdown-item {
  -webkit-transition: .2s;
  transition: .2s;
}

.dropdown-item:hover {
  background-color: #dfdfdf;
  color: #1a1a1a;
}

.navbar-brand img {
  width: 80px;
}

.service-block {
  margin: 40px 0;
}

.service-block h4 {
  color: #0078d4;
}

.service-block img {
  width: 100%;
}

.carousel {
  height: calc(100vh - 50px);
}

.carousel ol.carousel-indicators li {
  margin: 0 5px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item {
  height: 100%;
  position: relative;
}

.carousel .carousel-inner .carousel-item img {
  height: 100%;
}

.carousel .carousel-inner .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
  background-color: rgba(37, 47, 49, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 5px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.carousel .carousel-inner .carousel-item .carousel-caption .title {
  color: #28c7fa;
}

.carousel .carousel-inner .carousel-item .carousel-caption p {
  width: 90%;
  margin: auto;
}

.carousel a.carousel-control-prev,
.carousel a.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.5);
  width: 5%;
}

@media (max-width: 575px) {
  .carousel .carousel-inner .carousel-item .carousel-caption {
    top: 20px;
    width: 70%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .carousel .carousel-inner .carousel-item .carousel-caption .title {
    font-size: 28px;
  }
  .carousel .carousel-inner .carousel-item .carousel-caption p {
    font-size: 14px;
  }
  .carousel a.carousel-control-prev,
  .carousel a.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.5);
    width: 10%;
  }
}

.boxes {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.boxes .box {
  text-align: left;
  position: relative;
  background: #fff;
  padding: 100px 20px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 0 15px 22px rgba(0, 0, 0, 0.2), 0 -15px 22px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 22px rgba(0, 0, 0, 0.2), 0 -15px 22px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.boxes .box h2 {
  position: absolute;
  left: 20px;
  top: 30px;
  font-size: 4em;
  font-weight: 800;
  z-index: 1;
  opacity: .2;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.boxes .box h3 {
  position: relative;
  font-size: 1.5em;
  z-index: 2;
  color: #333;
  -webkit-transition: .5s;
  transition: .5s;
}

.boxes .box p {
  position: relative;
  z-index: 2;
  color: #555;
  -webkit-transition: .5s;
  transition: .5s;
}

.boxes .box.one::before {
  background: #28c7fa;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0.03);
          transform: scaleY(0.03);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 0;
}

.boxes .box.two::before {
  background: #775ada;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0.03);
          transform: scaleY(0.03);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 0;
}

.boxes .box.three::before {
  background: #002651;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0.03);
          transform: scaleY(0.03);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 0;
}

.boxes .box.four::before {
  background: #ff304f;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0.03);
          transform: scaleY(0.03);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  z-index: 0;
}

.boxes .box:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.boxes .box:hover h2 {
  opacity: 1;
  color: #fff;
  left: 50%;
  -webkit-transform: translateY(-15px) translateX(-50%) scale(1.1);
          transform: translateY(-15px) translateX(-50%) scale(1.1);
}

.boxes .box:hover h3,
.boxes .box:hover p {
  color: #fff;
}

.boxes .box:hover::before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.our-product-hero-img {
  width: 100vw;
  background-size: cover;
}

.our-products-section-header {
  color: #fff;
  margin-top: 100px;
  font-size: 70px;
  text-shadow: 0.1rem 0.1rem 0.1rem #000;
}

.par-title {
  color: #0078d4;
}

.img-par {
  color: dimgray;
  line-height: 1.7;
}

.img-sub-par {
  color: darkgray;
  padding-left: 70px;
}

div.products-block {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 15%;
  height: 450px;
}

div.products-block h2 {
  font-size: 34px;
  color: #595959;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

div.products-block hr {
  opacity: 1;
  background: #ff7d60;
}

div.products-block p {
  color: #747474;
  font-weight: 400;
  letter-spacing: 0px;
  font-style: normal;
  margin-bottom: 20px;
}

div.products-block .btn.read-more {
  padding: 10px;
  border-color: #ff7d60;
  color: #ff7d60;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-top: 20px;
  font-size: 18px;
  min-width: 170px;
}

div.products-block .btn.read-more:hover {
  background: #ff7d60;
  color: #fff;
}

div.products-block.gr hr {
  opacity: 1;
  background: #26b37b;
}

div.products-block.gr .btn.read-more {
  padding: 10px;
  border-color: #26b37b;
  color: #26b37b;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  margin-top: 20px;
  font-size: 18px;
  min-width: 170px;
}

div.products-block.gr .btn.read-more:hover {
  background: #26b37b;
  color: #fff;
}

.products-page .row > div {
  padding: 0;
}

.products-page img {
  width: 100%;
  height: 450px;
  background-color: #f2f2f2;
}

footer {
  background-color: #166dca;
  padding: 50px 0;
  margin-top: 50px;
}

footer p {
  line-height: 1.5;
  margin: 0;
  color: #fff;
}

footer img {
  width: 50%;
  margin-left: auto;
  display: block;
}

/* .img-header {
	color: #0078d4;
}

.img-paragraph {
	font-size: 20px;
	line-height: 2;
}

.paragraph-sub-header {
	font-size: 20px;
	font-weight: bold;
}

.bold-text {
	font-weight: bold;
}

.footer-wrapper {
	width: 100%;
	height: auto;
	background-color: lightgray;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-header {
	color: #000;
	text-align: center;
	padding-top: 10rem;
	font-weight: bolder;
}

.footer-paragraph {
	width: 30rem;
	text-align: center;
	line-height: 2;
}
 */
body {
  text-transform: capitalize;
  overflow-x: hidden;
  padding-top: 50px;
  font-family: 'Roboto', sans-serif;
}

/* Home */
.banar {
  position: relative;
}

.banar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.banar img {
  width: 100%;
  height: 450px;
}

.banar h1 {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.page-title {
  text-align: center;
  background-color: #f2f2f2;
  padding-top: 5%;
  padding-right: 30px;
  padding-bottom: 5%;
  padding-left: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.page-title .content-container {
  width: 70%;
  margin: auto;
}

.page-title h4 {
  color: #595959;
  font-size: 34px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
}

.page-title hr {
  background: #0669b2;
  border: none;
  opacity: 1;
  width: 85%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 15px;
}

.page-title p {
  color: #747474;
  width: 80%;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
