@import "./sass/helpers/colors_schema";
@import "./sass/helpers/classes";
@import "./sass/helpers/mixins";
@import "./sass/template/layouts/navbar";
@import "./sass/template/components/carousel";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');
@import "./sass/template/components/beliefscards";
@import "./sass/BassantStyles/ourproducts.scss";
@import "./sass/BassantStyles/index.scss";

$BoxesColors: "one"#28c7fa,
"two"#775ada,
"three"#002651,
"four"#ff304f;

body {
	text-transform: capitalize;
	overflow-x: hidden;
	padding-top: 50px;
	height: 5000px;
	font-family: 'Roboto', sans-serif;

}

/* Home */
.banar {
	position: relative;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .3);
	}

	img {
		width: 100%;
		height: 450px;
	}

	h1 {
		color: #fff;
		font-size: 60px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-transform: uppercase;
	}
}

.page-title {
	text-align: center;
	background-color: #f2f2f2;
	padding-top: 5%;
	padding-right: 30px;
	padding-bottom: 5%;
	padding-left: 30px;
	margin-bottom: 0px;
	margin-top: 0px;

	.content-container {
		width: 70%;
		margin: auto;
	}

	h4 {
		color: #595959;
		font-size: 34px;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;


	}

	hr {
		background: #0669b2;
		border: none;
		opacity: 1;
		width: 85%;
		margin: auto;
		margin-top: 25px;
		margin-bottom: 15px;
	}

	p {
		color: #747474;
		width: 80%;
		margin: auto;
	}

}